<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>yuzu</title>
		<link rel="stylesheet" href="../stylesheets/index.css">
		<!-- <script> console.log(navigator.mediaDevices.enumerateDevices())</script> -->
		<script src="./js/renderUtils.js"></script>
	</head>
	<body onload="loadConfiguration()">
		<div class="container">
			<header>
				<h1>yuzu</h1>
				<p></p>
			</header>
			<section class="main">
				<select id="inputDevicesList" disabled onchange="saveInputDeviceConfig(this)">
					<option value="loading">Loading...</option>
				</select>

			</section>
			<footer></footer>
		</div>
	</body>
</html>
